.hosts-table {
    display: flex;
}

.hosts-table>.ant-menu-inline-collapsed {
    width: 0 !important;
}

.hosts-table>.ant-menu {
    width: 200px;
    box-shadow: 0 0 0 0, -12px 0 8px -4px rgba(31, 73, 125, 0.8) !important;
}

.hosts-table>.uncollapsed-style {
    opacity: 0.9;
    height: 100%;
    width: 100%;
}

.hosts-table>.full-width {
    width: 100%;
}

.rubix-wires-card > .ant-card-body {
    padding: 17px 24px;
}