/* -----------for text----------- */
.error--text,
.danger--text {
    color: var(--error) !important;
}

.black--text {
    color: var(--black) !important;
}

.white--text {
    color: var(--white) !important;
}

.export-color--text {
    color: var(--export-color) !important;
}

.download-color--text {
    color: var(--download-color) !important;
}

.json-color--text {
    color: var(--json-color) !important;
}

.restart-color--text {
    color: var(--restart-color) !important;
}

.error--text {
    color: var(--error) !important;
}

.light-grey--text {
    color: var(--light-grey) !important;
}

.nube-aqua--text {
    color: var(--nube-aqua) !important;
}

.nube-green--text {
    color: var(--nube-green) !important;
}

.nube-yellow--text {
    color: var(--nube-yellow) !important;
}

.nube-light-grey--text {
    color: var(--nube-light-grey) !important;
}

.nube-dark-grey--text {
    color: var(--nube-dark-grey) !important;
}


/* -----------for background----------- */
.error,
.danger {
    background-color: var(--error);
}

.error.ant-btn:hover,
.error.ant-btn:focus,
.error.ant-btn:active,
.danger.ant-btn:hover,
.danger.ant-btn:focus,
.danger.ant-btn:active {
    color: unset;
    border-color: var(--error);
    background-color: var(--error);

}

.error.ant-btn[disabled],
.error.ant-btn[disabled]:hover,
.error.ant-btn[disabled]:focus,
.error.ant-btn[disabled]:active,
.danger.ant-btn[disabled],
.danger.ant-btn[disabled]:hover,
.danger.ant-btn[disabled]:focus,
.danger.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--error);
    background-color: var(--error);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.black {
    background-color: var(--black);
    color: var(--white);
}

.black.ant-btn:hover,
.black.ant-btn:focus,
.black.ant-btn:active {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
}

.black.ant-btn[disabled],
.black.ant-btn[disabled]:hover,
.black.ant-btn[disabled]:focus,
.black.ant-btn[disabled]:active {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.white {
    background-color: var(--white);
    color: var(--black);
}

.white.ant-btn:hover,
.white.ant-btn:focus,
.white.ant-btn:active {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
}

.white.ant-btn[disabled],
.white.ant-btn[disabled]:hover,
.white.ant-btn[disabled]:focus,
.white.ant-btn[disabled]:active {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.export-color {
    background-color: var(--export-color);
}

.export-color.ant-btn:hover,
.export-color.ant-btn:focus,
.export-color.ant-btn:active {
    color: unset;
    border-color: var(--export-color);
    background-color: var(--export-color);
}

.export-color.ant-btn[disabled],
.export-color.ant-btn[disabled]:hover,
.export-color.ant-btn[disabled]:focus,
.export-color.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-green);
    background-color: var(--nube-green);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}


.download-color {
    background-color: var(--download-color);
}

.download-color.ant-btn:hover,
.download-color.ant-btn:focus,
.download-color.ant-btn:active {
    color: unset;
    border-color: var(--download-color);
    background-color: var(--download-color);
}

.download-color.ant-btn[disabled],
.download-color.ant-btn[disabled]:hover,
.download-color.ant-btn[disabled]:focus,
.download-color.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--download-color);
    background-color: var(--download-color);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.json-color {
    background-color: var(--json-color);
}

.json-color.ant-btn:hover,
.json-color.ant-btn:focus,
.json-color.ant-btn:active {
    color: unset;
    border-color: var(--json-color);
    background-color: var(--json-color);
}

.json-color.ant-btn[disabled],
.json-color.ant-btn[disabled]:hover,
.json-color.ant-btn[disabled]:focus,
.json-color.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--json-color);
    background-color: var(--json-color);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.restart-color {
    background-color: var(--restart-color);
}

.restart-color.ant-btn:hover,
.restart-color.ant-btn:focus,
.restart-color.ant-btn:active {
    color: unset;
    border-color: var(--restart-color);
    background-color: var(--restart-color);
}

.restart-color.ant-btn[disabled],
.restart-color.ant-btn[disabled]:hover,
.restart-color.ant-btn[disabled]:focus,
.restart-color.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--restart-color);
    background-color: var(--restart-color);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.light-grey {
    background-color: var(--light-grey);
}

.light-grey.ant-btn:hover,
.light-grey.ant-btn:focus,
.light-grey.ant-btn:active {
    color: var(--nube-dark-grey);
    border-color: var(--light-grey);
    background-color: var(--light-grey);
}

.light-grey.ant-btn[disabled],
.light-grey.ant-btn[disabled]:hover,
.light-grey.ant-btn[disabled]:focus,
.light-grey.ant-btn[disabled]:active {
    color: var(--nube-dark-grey);
    border-color: var(--light-grey);
    background-color: var(--light-grey);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.nube-aqua {
    background-color: var(--nube-aqua);
}

.nube-aqua.ant-btn:hover,
.nube-aqua.ant-btn:focus,
.nube-aqua.ant-btn:active {
    color: unset;
    border-color: var(--nube-aqua);
    background-color: var(--nube-aqua);
}

.nube-aqua.ant-btn[disabled],
.nube-aqua.ant-btn[disabled]:hover,
.nube-aqua.ant-btn[disabled]:focus,
.nube-aqua.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-aqua);
    background-color: var(--nube-aqua);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.nube-green {
    background-color: var(--nube-green);
}

.nube-green.ant-btn:hover,
.nube-green.ant-btn:focus,
.nube-green.ant-btn:active {
    color: unset;
    border-color: var(--nube-green);
    background-color: var(--nube-green);
}

.nube-green.ant-btn[disabled],
.nube-green.ant-btn[disabled]:hover,
.nube-green.ant-btn[disabled]:focus,
.nube-green.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-green);
    background-color: var(--nube-green);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.nube-yellow {
    background-color: var(--nube-yellow);
}

.nube-yellow.ant-btn:hover,
.nube-yellow.ant-btn:focus,
.nube-yellow.ant-btn:active {
    color: unset;
    border-color: var(--nube-yellow);
    background-color: var(--nube-yellow);
}

.nube-yellow.ant-btn[disabled],
.nube-yellow.ant-btn[disabled]:hover,
.nube-yellow.ant-btn[disabled]:focus,
.nube-yellow.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-yellow);
    background-color: var(--nube-yellow);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.nube-light-grey {
    background-color: var(--nube-light-grey);
}

.nube-light-grey.ant-btn:hover,
.nube-light-grey.ant-btn:focus,
.nube-light-grey.ant-btn:active {
    color: unset;
    border-color: var(--nube-light-grey);
    background-color: var(--nube-light-grey);
}

.nube-light-grey.ant-btn[disabled],
.nube-light-grey.ant-btn[disabled]:hover,
.nube-light-grey.ant-btn[disabled]:focus,
.nube-light-grey.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-light-grey);
    background-color: var(--nube-light-grey);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.nube-dark-grey {
    background-color: var(--nube-dark-grey);
}

.nube-dark-grey.ant-btn:hover,
.nube-dark-grey.ant-btn:focus,
.nube-dark-grey.ant-btn:active {
    color: unset;
    border-color: var(--nube-dark-grey);
    background-color: var(--nube-dark-grey);
}

.nube-dark-grey.ant-btn[disabled],
.nube-dark-grey.ant-btn[disabled]:hover,
.nube-dark-grey.ant-btn[disabled]:focus,
.nube-dark-grey.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-dark-grey);
    background-color: var(--nube-dark-grey);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}

.nube-primary {
    background-color: var(--nube-primary);
}

.nube-primary.ant-btn:hover,
.nube-primary.ant-btn:focus,
.nube-primary.ant-btn:active {
    color: unset;
    border-color: var(--nube-primary);
    background-color: var(--nube-primary);
}

.nube-primary.ant-btn[disabled],
.nube-primary.ant-btn[disabled]:hover,
.nube-primary.ant-btn[disabled]:focus,
.nube-primary.ant-btn[disabled]:active {
    color: unset;
    border-color: var(--nube-primary);
    background-color: var(--nube-primary);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.8;
}