@import './colors.css';

:root {
    --error: #D50000;
    --black: #000000;
    --white: #FFFFFF;
    --export-color: #009688;
    --download-color: #339999;
    --json-color: #13ce66;
    --restart-color: #559773;
    --light-grey: #dfdfdf;
    --nube-aqua: #339999;
    --nube-green: #8cd0ab;
    --nube-yellow: #fbb93e;
    --nube-light-grey: #666666;
    --nube-dark-grey: #333333;
    --nube-primary: #2196f3;
}