/* error: "#FF174",
        black: "#000000",
        white: "#FFFFFF",
        nubeAqua: "#339999",
        nubeGreen: '#8cd0ab',
        nubeYellow: '#fbb93e',
        nubeLightGrey:"#666666",
        nubeDarkGrey: "#333333",
        exportColor: '#009688',
        downloadColor: '#339999',
        jsonGreen: "#13ce66",
        nubeLightBackground: "#eee",
        lightGrey: "#dfdfdf", */
