:root {
    --error: #FF1744;
    --black: #000000;
    --white: #FFFFFF;
    --export-color: #009688;
    --download-color: #339999;
    --json-color: #13ce66;
    --light-grey: #dfdfdf;
    --nube-aqua: #339999;
    --nube-green: #8cd0ab;
    --nube-yellow: #fbb93e;
    --nube-light-grey: #666666;
    --nube-dark-grey: #333333;
    --nube-light: #eee;
    --nube-primary: #2196f3;
}

/* -----------for text----------- */
.error--text,
.danger--text {
    color: var(--error) !important;
}

.black--text {
    color: var(--black) !important;
}

.white--text {
    color: var(--white) !important;
}

.export-color--text {
    color: var(--export-color) !important;
}

.download-color--text {
    color: var(--download-color) !important;
}

.json-color--text {
    color: var(--json-color) !important;
}

.error--text {
    color: var(--error) !important;
}

.light-grey--text {
    color: var(--light-grey) !important;
}

.nube-aqua--text {
    color: var(--nube-aqua) !important;
}

.nube-green--text {
    color: var(--nube-green) !important;
}

.nube-yellow--text {
    color: var(--nube-yellow) !important;
}

.nube-light-grey--text {
    color: var(--nube-light-grey) !important;
}

.nube-dark-grey--text {
    color: var(--nube-dark-grey) !important;
}

/* -----------for background----------- */
.error,
.danger {
    background-color: var(--error);
}

.error.ant-btn:hover,
.error.ant-btn:focus,
.error.ant-btn:active,
.danger.ant-btn:hover,
.danger.ant-btn:focus,
.danger.ant-btn:active {
    color: unset;
    border-color: var(--error);
    background-color: var(--error);

}

.black {
    background-color: var(--black);
    color: var(--white);
}

.black.ant-btn:hover,
.black.ant-btn:focus,
.black.ant-btn:active {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
}

.white {
    background-color: var(--white);
    color: var(--black);
}

.white.ant-btn:hover,
.white.ant-btn:focus,
.white.ant-btn:active {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
}

.export-color {
    background-color: var(--export-color);
}

.export-color.ant-btn:hover,
.export-color.ant-btn:focus,
.export-color.ant-btn:active {
    color: unset;
    border-color: var(--export-color);
    background-color: var(--export-color);
}


.download-color {
    background-color: var(--download-color);
}

.download-color.ant-btn:hover,
.download-color.ant-btn:focus,
.download-color.ant-btn:active {
    color: unset;
    border-color: var(--download-color);
    background-color: var(--download-color);
}

.json-color {
    background-color: var(--json-color);
}

.json-color.ant-btn:hover,
.json-color.ant-btn:focus,
.json-color.ant-btn:active {
    color: unset;
    border-color: var(--json-color);
    background-color: var(--json-color);
}

.light-grey {
    background-color: var(--light-grey);
}

.light-grey.ant-btn:hover,
.light-grey.ant-btn:focus,
.light-grey.ant-btn:active {
    color: var(--nube-dark-grey);
    border-color: var(--light-grey);
    background-color: var(--light-grey);
}

.nube-aqua {
    background-color: var(--nube-aqua);
}

.nube-aqua.ant-btn:hover,
.nube-aqua.ant-btn:focus,
.nube-aqua.ant-btn:active {
    color: unset;
    border-color: var(--nube-aqua);
    background-color: var(--nube-aqua);
}

.nube-green {
    background-color: var(--nube-green);
}

.nube-green.ant-btn:hover,
.nube-green.ant-btn:focus,
.nube-green.ant-btn:active {
    color: unset;
    border-color: var(--nube-green);
    background-color: var(--nube-green);
}

.nube-yellow {
    background-color: var(--nube-yellow);
}

.nube-yellow.ant-btn:hover,
.nube-yellow.ant-btn:focus,
.nube-yellow.ant-btn:active {
    color: unset;
    border-color: var(--nube-yellow);
    background-color: var(--nube-yellow);
}

.nube-light-grey {
    background-color: var(--nube-light-grey);
}

.nube-light-grey.ant-btn:hover,
.nube-light-grey.ant-btn:focus,
.nube-light-grey.ant-btn:active {
    color: unset;
    border-color: var(--nube-light-grey);
    background-color: var(--nube-light-grey);
}

.nube-dark-grey {
    background-color: var(--nube-dark-grey);
}

.nube-dark-grey.ant-btn:hover,
.nube-dark-grey.ant-btn:focus,
.nube-dark-grey.ant-btn:active {
    color: unset;
    border-color: var(--nube-dark-grey);
    background-color: var(--nube-dark-grey);
}

.nube-primary {
    background-color: var(--nube-primary);
}

.nube-primary.ant-btn:hover,
.nube-primary.ant-btn:focus,
.nube-primary.ant-btn:active {
    color: unset;
    border-color: var(--nube-primary);
    background-color: var(--nube-primary);
}