.help-list {
    text-align: start;
}

.help-list_item__title {
    margin: 1em 0 0.6em;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.help-list_item__table {
    text-align: start;
    color: black;
}

.help-list_item__table>div>table {
    width: 100%;
}

.help-list_item__table>div>table>tbody>tr>td {
    border-radius: 0 !important;
}

.settings-tr {
    justify-items: center;
}

.settings-value {
    background-color: #F1F1F1;
}

.settings-value>pre {
    padding: 1rem 6rem;
}

.settings-tr>div {
    padding: 5px 5px 0 5px;
    border-spacing: 2px;
    background-color: #DDDDDD;
    font-weight: bold;
    flex-grow: 1;
}

.settings-divider-tr {
    height: 2px;
}