.flow-networks>.ant-spin-nested-loading>.ant-spin-container>.ant-table>.ant-table-container>.ant-table-content>table>tbody>.ant-table-row>.ant-table-cell>.ant-image>.ant-image-mask {
    width: 200px;
    text-overflow: ellipsis;
}

.flow-networks>.ant-table-wrapper>.ant-spin-nested-loading>.ant-spin-container>.ant-table>.ant-table-container>.ant-table-content>table>tbody>.ant-table-row {
    height: 60px;
}

.flow-networks {
    display: flex;
}

.flow-networks>.ant-menu-inline-collapsed {
    width: 0 !important;
}

.flow-networks>.uncollapsed-style {
    opacity: 0.9;
    height: 100%;
    width: 100%;
}

.flow-networks>.uncollapsed-style>div>div>div>div>div>table {
    min-height: 182px;
}

.flow-networks>.full-width {
    width: 100%;
}